@import '~@angular/material/theming';
@include mat-core();
$primary: mat-color(mat-palette($mat-indigo,500));
$grey: #757575;

mat-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.control-icon {
  color: $grey;
}

.type-icon {
  color: $grey;
  margin-right: 5px;
}

.node {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.controls {
  padding-left: 2rem;
  display: none;
}

.mat-tree-node:hover  {
  background: #eee;
  .controls {
    display: block;
  }
}

.control-icon:hover {
  background-color: #ddd;
  border-radius: 3px;
}

.tree-invisible {
  display: none;
}

.active {
  color: $primary;
  font-weight: 600;
  .type-icon {
    color: inherit;
  }
}
