.content {
  display: flex;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidenav {
  min-width: 30%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

.container {
  height: 92vh;
  width: 100%;
}
